/*body {
  margin: 0px;
  font-family: Arial;
}
.presupuesto-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: #f4f4f4;
}
.presupuesto-container-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f4f4f4;
}
.presupuesto-content {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.presupuesto-card {
  width: 150%;
  height: 90%;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(176,167,176,1);
}
.presupuesto-h1 {
  margin: 0px;
}
.presupuesto-p {
  margin: 0px;
  color: grey;
}
.progress {
  width: 100%;
}
.pcontainer {
  width: 100%;
  height: 2000vh;
}
.p-t {
  padding-left: 80px;
}
.pcontent {
  display: flex;
  flex-direction: row;
}
.pcontent-d {
  display: flex;
  flex-direction: row;
}
.padding-t {
  height: 0px;
  width: 40px;
  border-top: 1px solid;
  display: flex;
}
.padding-t2 {
  height: 0px;
  width: 80px;
  border-top: 1px solid;
}
.padding-t3 {
  height: 0px;
  width: 900px;
  border-top: 1px solid;
}
.padding-t4 {
  height: 0px;
  width: 120px;
  border-top: 1px solid;
}
.padding-t5 {
  height: 0px;
  width: 200px;
  border-top: 1px solid;
}


/*Presupuesto
.tabla-1{
  display:flex;
        justify-content: space-between;

}
.tabla-2{
  display:flex;
        justify-content: space-between;

}
/*Creacionfondo
.content{
  display:flex;
  justify-content:
}
.need{
  height: 0px;
  width: 100px;
  border-top: 1px solid;
}
*/
