.banco-back {
  padding: 0px 20px 0px 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
}
.site-banco {
  padding-left: 80px;
  padding-top: 20px;
}
.site-banco-s {
  margin: 0px;
  font-size: 20px;
}
.banco-container {
  width: 100%;
  padding-top: 50px;
}
.banco-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.disponible-banco {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cantidad-banco {
  font-size: 60px;
  margin: 10px 0px 0px 0px;
}
.banco-w {
  background-color: #FFFFFF;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.banco-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 20px 20px 20px;
}
.banco-inputs-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.table-banco-up {
  width: 3%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-banco-partida {
  width: 10%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-banco-proyecto {
  width: 30%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-banco-nombre {
  width: 31%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-banco-monto {
  width: 11%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-banco-porcentaje {
  width: 11%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
























.caja-inputs-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.caja-inputs-c2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 29.5%;
}
.input-row {
  display: flex;
  flex-direction: column;
  width: 23%;
}
.input-row2 {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.p-caja {
  margin: 0px;
}
.input-sc {
  height: 25px;
}

.p-caja-dis {
  margin: 0px;
  color: grey;
  font-size: 12px;
  text-align: right;
}

.caja-inputs-2 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.caja-inputs-3 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.input-row-2 {
  display: flex;
  flex-direction: column;
}

.input-row-w {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.tabla-pp2 {
  width: 2%;
  border-bottom: 1px solid #d0d0d0;
}

.tabla-p2-banco {
  width: 30%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabla-p3-banco {
  width: 31%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.tabla-p6 {
  width: 15%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.final-start {
  width: 50%;
  background: #fff;
  color: black;
}
.final-start-2 {
  width: 50%;
  background: #fff;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.final-col {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.final-he {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.boton-g {
  background-color: green;
  height: 30px;
  color: white;
  border: 0px;
}
