.arqueo-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.arqueo-container-pop {
  display: flex;
  flex-direction: row;
  margin: 40px 0px 40px 0px;
  width: 100%;
}
.arqueo-content {
  width: 100%;
}
.arqueo-content-pop {
  width: 100%;
  margin-top: 30px;
}
.arqueo-content2 {
  width: 100%;
}
.sear-content {
  background-color: white;
  margin: -30px;
  padding: 30px;
}
.table-arqueo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}
.table-arqueo-pop {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.title-arqueo {
  width: 25%;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
.title-arqueo2 {
  width: 25%;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
.data-arqueo {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.data-arqueo-pop {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.p-mar-arqueo {
  margin: 0px;
  padding-left: 5px;
  text-align: center;
  font-size: 16px;
}
.tipo-arqueo {
  width: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.arqueo-col {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.botones-arqueo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
}
.but-end {

}
.margin-buton-ar {
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px;
  background-color: green;
  color: white;
  border-width: inherit;
}
.table-arqueo-search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.table-arqueo-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.title-arqueo-se {
  width: 9%;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
