.card-compro {
  height: 250px;
  overflow-y: scroll;
}
.div-compro-container {
  background: #f4f4f4;
  min-height: 87.5vh;
  padding: 90px 30px 30px 30px;
}
.paper-content {
  width: 100%;
}
.border-icon {
  border-left: 0;
  border-right-color: white;
  border-top: 0;
  width: 2%;
}
.border-table {
  border-left: 0;
  border-right-color: white;
  border-top: 0;
  width: 36%;
}
.border-table2 {
  border-left: 0;
  border-right-color: white;
  border-top: 0;
  width: 7%;
}
.border-table3 {
  border-left: 0;
  border-right-color: white;
  border-top: 0;
  width: 12%;
}
.table-row-c {
  width: 100%;
}
.border-des {
  border-left: 0;
  border-right-color: white;
  border-top: 0;
}
.table-cell {
  padding-bottom: 0;
  padding-top: 0;
}
.select-compro {
  background: white;
  border-bottom: 1px solid grey;
  color: black;
  font-size: 14px;
  height: 30px;
  text-align-last: left;
  width: 100%;
}
.input-compro {
  border-bottom: 1px solid grey;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 10px;
  width: 98%;
}
.list-align {
  width: 20%;
}
.recibo-content {
  display: flex;
  height: 36px;
}
.input-r {
  border-bottom: 1px solid grey;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  width: 18%;
}
.recibo-container {
  display: flex;
  flex-direction: column;
}
.recibo-btn {
  background: white;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid grey;
  width: 8%;
  font-size: 22px;
}
.MuiCard-root {
  overflow: scroll !important;
}
