.form-fondo {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  min-height: 91.5vh;
  padding-top: 80px;
  width: 100%;
}
.grid-w {
  width: 70%;
}
.grid-w2 {
  width: 100%;
}
.paper-p {
  padding: 20px;
}
.div-con-f {
  font-weight: bold;
  margin-bottom: 20px;
}
.div-f2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.div-con {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.p-label {
  color: grey;
  font-size: 12px;
  margin: 0;
}
.field {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: .5px solid grey;
  padding: 6px;
  font-size: 1rem;
}
.select-f {
  background: white;
  border-bottom: 1px solid grey;
  color: black;
  font-size: 1rem;
  height: 30px;
  text-align-last: left;
  width: 100%;
}
.grid2-cont {
  margin-top: 20px;
  width: 100%;
}
.paper-pm {
  margin-top: 20px;
  padding: 20px;
}
.div-cfe {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.div-content-fab {
  bottom: 0;
  margin: 30px;
  position: fixed;
  right: 0;
}
