.space-fm {
  margin-top: 60px;
}
.p-title-margin-fondo {
  margin: 0px;
  font-weight: bold;
}
.p-container-fondo {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 20px 0px 0px 0px;
}
.input-style-fr {
  height: 30px;
  text-align: center;
}
