.space-fm {
  margin-top: 60px;
}
.p-title-margin-fondo {
  margin: 0px;
  font-weight: bold;
}
.p-container-fondo {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px 0px 0px 0px;
}
.input-style-fr {
  height: 30px;
  text-align: center;
}
.f-container-n {
  padding: 0px 30px 0px 30px;
  background-color: #f4f4f4;
  min-height: 100vh
}
.con-f {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.fondos-bac {
  width: 60%;
  height: auto;
  z-index: 1
}
.fon-t {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.fon-d-c {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.left-b-f {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.col-f-c {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}
.bt-s-f {
  color: white;
  background-color: green;
  border: 0px;
  padding: 6px;
}





































.f-f-c-w {
  width: 75%;
}
.n-f-c {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  margin-bottom: -20px;
}
.b-s-f {
  background-color: #092432;
  color: white;
  padding: 8px;
  border: 0px;
  border-top-right-radius: 15px;
  border-top-left-radius: 4px;
}
.f-container {
  width: 100%;
}
.f-t-c {
  margin: 0px;
}
.m-f {
  margin: 20px 0px 20px 0px;
  border-top: 1px solid;
  background: #f4f4f4;
  padding: 0px 20px 0px 20px;
}
.f-f {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  width: 100%;
}
.f-ff {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.f-f2 {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.f-f3 {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-right: 20px;
}
.fp {
  margin: 4px;
  width: 50%;
}
.fpb {
  margin: 4px;
  width: 24%;
}
.f-b-s {
  height: 20px;
  text-align: center;
  width: 50%;
}
.f-l-w {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 15px;
}
.l-w {
  width: 100%;
  border-bottom: 2px solid;
}
.lp {
  margin: 4px;
  width: 50%;
}
.f-l-s {
  height: 20px;
  text-align: center;
  width: 50%;
}
.l-f-c {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.k-dropdown, .k-dropdowntree {
  width: 51% !important;
}
.f-t-a {
  width: 50.5%;
  height: 26px;
  padding: 0px;
}
.c-f-s {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.c-f-s2 {
  display: flex;
  flex-direction: row;
}
.fpc {
  margin: 1px;
}
.f-c-c {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.fc {
  margin: 4px;
  width: 150px;
}
.ci {
  height: 20px;
  width: 40%;
}
.fc-w {
  width: 30%;
}
.fcc {
  display: flex;
  flex-direction: row;
}
.axc {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cx {
  border: 1px solid;
  height: 180px;
  width: 48%;
}
.com-com {
  margin: 20px;
}
.table-fc {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
}
.tfc {
  width: 14.2%;
  text-align: center;
  background-color: #092432;
  color: white;
  padding: 8px;
  border-right: 1px solid #FFF;
}
.fcc-i {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.fimpre {
  margin: 4px;
  width: 180px;
}
.b-imp {
  background: green;
  color: white;
  padding: 6px;
  border: 0px;
  margin-left: 10px;
  cursor: pointer;
}
.fr-b {
  border-bottom: 2px solid;
}
.fr-con {
  width: 30%;
}
.zz {
  z-index: 3;
  position: relative;
  height: 100vh;
  background-color: white;
}
.contra {

}
