.form-fondo {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  min-height: 91.5vh;
  padding-top: 80px;
  width: 100%;
}
.grid-w {
  width: 70%;
}
.grid-w2 {
  margin-bottom: 10px;
  width: 100%;
}
.paper-p {
  padding: 20px;
}
.div-con-f {
  font-weight: bold;
  margin-bottom: 20px;
}
.head-search {
  display: flex;
  justify-content: space-between;
}
.inp-sea-cont {
  width: 14.2%;
}
.inp-p-t {
  color: grey;
  font-size: 12px;
  margin: 6px;
}
.field {
  border-bottom: .5px solid grey;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-size: 1rem;
  padding: 6px;
}
.cont-w-data {
  width: 85.8%;
}
.cont-map-fondo {
  display: flex;
  width: 100%;
}
.cont-map-data {
  display: flex;
  justify-content: space-between;
  width: 100%
}
.data-w-search {
  width: 16.6%;
}
.data-m-f {
  margin: 6px;
}
.editar-option {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: center;
  width: 16.6%;
}
.paper-pm {
  margin-top: 20px;
  padding: 20px;
}
.div-f2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.div-con {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.div-conn {
  display: flex;
  justify-content: space-between;
  width: 48%;
}
.p-label {
  color: grey;
  font-size: 12px;
  margin: 0;
}
.input-ext {
  border-bottom: .5px solid grey;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  height: 27px;
  width: 100%;
}
.select-f {
  background: white;
  border-bottom: 1px solid grey;
  color: black;
  font-size: 1rem;
  height: 30px;
  text-align-last: left;
  width: 100%;
}
.add-bene {
  display: flex;
  width: 48%;
}
.content-bf {
  display: flex;
  flex-direction: column;
  width: 97%;
}
.btn-add-bf {
  background: white;
  border: 0;
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding-top: 20px;
  width: 3%;
}
.fondo-w-c {
  width: 100%;
}
.div-cfe {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.div-content-fab {
  bottom: 0;
  margin: 30px;
  position: fixed;
  right: 0;
}
