.site-pf-of {
  padding-left: 80px;
}
.m-f {
  margin: 0;
  background: #f4f4f4;
  padding: 70px 20px 0px 20px;
}
.title-so-o {
  margin-top: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 30px;
}
.text-b {
  padding-top: 100px;
  font-size: 9px;
}
.faderinpo {
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}
.contenedor-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 23%;
  padding: 10px;
}
.interno-ga2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.input-gai {
  margin-top: 5px;
}
.text-gai {
  margin: 3px;
  font-size: 12px;
}
.bene-i {
  margin: 0;
  font-size: 12px;
}
.fs-if {
  margin-top: 18px;
  font-size: 12px;
  margin-left: 5px;
}
.pass {
  height: 100vh;
  z-index: 2;
}
.nopass {
  z-index: 2;
  position: absolute;
}
.text-intei {
  font-size: 12px;
  margin-top: 0;
  width: 120px;
}
.all-tablai {
  font-size: 11px;
  height: 15px;
}
.text-osb {
  margin-top: 7px;
  font-size: 12px;
  width: 60px;
}
.text-soi {
  margin: 3px;
  font-size: 12px;
}
.contenedor-soi {
  padding: 10px;
  width: 1050px;
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.lll {
  min-height: 100vh;
  z-index: 2;
  page-break-before: always;
}
.popup-content {
  height: 100%;
  overflow: scroll;
  width: 100%;
}
.c-b-i {
  display: flex;
  justify-content: center;
}
.td {
  padding: 0;
}
.all-tab-l {
  height: 60%;
  width: 99%;
  padding: 0;
  border: 0;
  text-align: center;
}
.all-tab-f {
  height: 80px;
}
