.title {
  margin-left: 50px;
}
.row-a {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
}
.col-a {
  display: flex;
  margin: 50px;
}
.row-aa {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 15px;
}
.a-14 {
  width: 14.2%;
  height: 200px;
  background: #c3c3c3;
}
.tipo-tw {
  width: 180px;
}
.height-ct {
  height: 20px;
}
.edit-row-a {
  display: flex;
  flex-direction: row;
  height: 35px;
}
.p-top {
  margin-top: 50px;
}
