.cpdf-dad2 {
  background: #fff;
  height: 100vh;
  width: 100%;
}
.hojas {
  border: 0px;
  width: 30px;
}
.grid-w-c {
  width: 80%;
}
.sub-c-p {
  color: grey;
  font-size: 12px;
  margin: 0;
}
.b-imp {
  background: green;
  color: white;
  padding: 6px;
  height: 18px;
}
.cpdf-subdad-f {
  width: 80%;
}
.btm-car {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.text-22 {
  font-size: 16px;
  padding-left: 10px;
  text-align: center;
}
.t-cara {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-bottom: 5px;
}
.text-fr {
  font-size: 17px;
  padding-left: 10px;
}
.cpdf-subdad-fi {
  width: 80%;
}
.page-s {
  background: #fff;
  page-break-before: always;
}
.ims {
  height: 60px;
  margin-bottom: 5px;
  width: auto;
}
.paper-p-c {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
