.container-back {
  background-color: #f4f4f4;
  min-height: 100vh;
  padding: 0 20px 0 20px;
}
.site {
  padding-left: 80px;
  padding-top: 20px;
}
.site-s {
  font-size: 20px;
  margin: 0;
}
.caja-container {
  padding-top: 50px;
  width: 100%;
}
.caja-inputs {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.caja-inputs-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.table-caja-title {
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: center;
  padding-left: 5px;
  width: 50%;
}
.table-caja-fecha {
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: center;
  padding-left: 5px;
  width: 28%;
}
.caja-inputs-c2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 29.5%;
}
.input-row {
  display: flex;
  flex-direction: column;
  width: 23%;
}
.input-row2 {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.p-caja {
  margin: 0px;
}
.input-sc {
  height: 25px;
}
.disponible {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 40%;
}
.p-caja-dis {
  color: grey;
  font-size: 12px;
  margin: 0;
  text-align: right;
}
.cantidad-caja {
  font-size: 35px;
  margin: 10px 0 0 0;
}
.caja-inputs-2 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
}
.caja-inputs-3 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-between;
  width: 100%;
}
.input-row-2 {
  display: flex;
  flex-direction: column;
}
.caja-w {
  background-color: #FFFFFF;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.caja-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 20px 20px 20px;
}
.input-row-w {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.tabla-pp {
  width: 2%;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
.tabla-pp2 {
  width: 2%;
  border-bottom: 1px solid #d0d0d0;
}
.tabla-p {
  width: 3%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabla-p1 {
  width: 20%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabla-p2 {
  width: 20%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabla-p3 {
  width: 16%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabla-p4 {
  width: 11%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabla-p5 {
  width: 11%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabla-p6 {
  width: 15%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.final-start {
  width: 50%;
  background: #fff;
  color: black;
}
.final-start-2 {
  width: 50%;
  background: #fff;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.final-col {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.final-he {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.boton-g {
  background-color: green;
  height: 30px;
  color: white;
  border: 0px;
}
.table-caja-row {
  display: flex;
  flex-direction: row;
}
.table-c-p {
  background: white;
  margin-left: -18px;
  margin-right: -18px;
  padding: 30px 30px 0px 30px;
}
.color-s {
  background: white;
  margin-left: -18px;
  margin-right: -18px;
  padding: 0px 30px 30px 30px;
}
.p-banco-map2 {
  margin: 0;
  font-size: 18px;
  padding-right: 5px;
}
.table-caja {
  width: 33.3%;
  border-top: 0;
  border-left: 0;
  border-right: white;
}
