.p-container-fondor {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.p-margin-fr {
  width: 100%;
}
.p-title-size-fr {
  font-size: 18px;
}
.inputs-container-fr {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.p-container-ifr {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.p-container-ifr2 {
  display: flex;
  flex-direction: column;
  width: 19%;
}
.p-container-ifrcpa {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.p-title-margin-fr {
  margin: 0;
  font-weight: bold;
}
.input-style-fr {
  height: 30px;
}
.inputs-col-fr {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.inputs-row-fr-2 {
  display: flex;
  justify-content: space-between;
}
.table-up-p-fr {
  border-bottom: 1px solid #d0d0d0;
  padding-left: 5px;
  border-right: 1px solid #d0d0d0;
  width: 72%;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-up-p-frn {
  width: 8%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-cpa {
  width: 60%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-up-p-frn2 {
  width: 6%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.filename {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5px;
  height: 100%;
}
.file-hid {
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.space-table {
  margin-top: 30px;
  background: white;
  margin-left: -30px;
  margin-right: -30px;
  padding: 30px;
}
.bt-s {
  color: white;
  background-color: green;
  border: 0px;
  padding: 5px;
}
