/* Estilos de Contrarecibo */
.contrarecibo-container {
  background: #f5f5f5;
  padding: 30px;
  margin-top: 60px;
}
.table-num-f {
  border-left: 0;
  border-right: white;
  border-top: 0;
  width: 6%;
}
.table-tipo {
  border-left: 0;
  border-right: white;
  border-top: 0;
  width: 10%;
}
.table-bene {
  border-left: 0;
  border-right: white;
  border-top: 0;
  width: 36%;
}
.table-same {
  border-left: 0;
  border-right: white;
  border-top: 0;
  width: 9%;
}
.link-edit {
  text-decoration: none;
}
/* Estilos de Agregar Contrarecibo */
.editcontra-container {
  background: #f5f5f5;
  padding: 30px;
}
.edit-content {
  width: 50%;
}
.edit-paper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}














.contra-container {
  background-color: #f4f4f4;
  height: 100vh;
}
.table-banco-titlef {
  width: 96%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contra-container-fc {
  background-color: #f4f4f4;
}
.mar-con {
  margin: 0 25px 25px 25px;
  padding-top: 40px;
}
.back-a {
  background: #f4f4f4;
  width: 100%;
  height: 50px;
  z-index: 2;
  position: absolute;
  margin-top: 20px
}
.table-no-rows {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.p-banco-map {
  border-left: 1px solid #d0d0d0;
  display: -webkit-box;
  font-size: 18px;
  margin: 0;
  overflow: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 14%;
}
.p-banco-map-b {
  border-left: 1px solid #d0d0d0;
  display: -webkit-box;
  font-size: 18px;
  margin: 0;
  overflow: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 40%;
}
.p-banco-map-f {
  display: -webkit-box;
  font-size: 18px;
  margin: 0;
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 5%;
}
.p-banco-map-t {
  border-left: 1px solid #d0d0d0;
  display: -webkit-box;
  font-size: 18px;
  margin: 0;
  overflow: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 10%;
}
.style-lt {
  text-align: right;
}
.container-all {
  margin: 80px 20px 20px 20px;
}
.cont-but {
  margin-top: 20px;
}
.but-g {
  background: green;
  color: white;
  padding: 5px;
  border: 0;
}
