.fondos-back {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.fondos-container {
  width: 90%;
  height: 100%;
  justify-content: center;
}
.form-container {
  display: flex;
  flex-direction: row;
}
.form-container-last {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.form-content {
  width: 50%;
  height: 80px;
  display: flex;
  flex-direction: column;
  padding: 5px 50px 0px 50px;
}
.form-content-5 {
  width: 50%;
  height: 80px;
  display: flex;
  flex-direction: column;
  padding: 5px 50px 0px 50px;
}
.hide {
  visibility: hidden;
}
.form-content-100 {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  padding: 5px 50px 0px 50px;
}
.form-content-50 {
  width: 25%;
  height: 80px;
  display: flex;
  flex-direction: column;
  padding: 5px 50px 0px 50px;
}
.form-content-desc {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 5px 50px 0px 50px;
}
.fondo-n {
  width: 100%;
  height: 100px;
  padding: 5px 50px 0px 50px;
}
.conver {
  display: flex;
  flex-direction: row;
  height: 40px;
}
.botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 25px 50px 0px 50px;
}
.title {
  margin-left: 50px;
}
.space-nav {
  margin-left: 15%;
}
.bt-s1 {
  height: 30px;
  margin-right: 15px;
  background: #FFF;
  font-weight: bold;
  font-weight: bold;
  font-size: 15px;
  color: #000;
}
.bt-s2 {
  height: 30px;
  margin-right: 15px;
  background: #398439;
  font-weight: bold;
  font-size: 15px;
  color: #FFF;
}
.bt-s3 {
  height: 30px;
  margin-right: 15px;
  background: #337ab7;
  font-weight: bold;
  font-weight: bold;
  font-size: 15px;
  color: #FFF;
}
.itc {
  font-weight: bold;
}
.input-b {
  border: 0px;
  background-color: #FFF;
}
.border-m {
  border: 0px;
  border-bottom: 1px solid;
  height: 20px;
  margin-top: 5px;
}
.center-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
