.comprocontainer {
  width: 100%;
  height: 100vh;
}
.compro-row {
  display: flex;
  flex-direction: row;
}
.compro-w {
  width: 60px;
  height: 0px;
}
.compro-w1 {
  width: 120px;
  height: 0px;
}
.compro-w2 {
  width: 200px;
  height: 0px;
}
.compro-w3 {
  width: 550px;
  height: 0px;
}
.compro-w4 {
  width: 900px;
  height: 0px;
}
.compro-w5 {
  width: 500px;
  height: 0px;
}
.compro-w6 {
  width: 300px;
  height: 0px;
}
