.a-container {
  min-height: 100vh;
}
.title {
  margin-left: 50px;
}
.row-a {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
}
.col-a {
  display: flex;
  margin: 50px;
}
.row-aa {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 15px;
}
.a-row-t {
  width: 14.2%;
  height: 50px;
}
.a-row {
  width: 14.2%;
}
.App {
  padding: 60px;
}
.App-edit {
  padding: 0px 60px 15px 60px;
}
.products-al {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: grey;
  border: none;
  border-width: 1px;
  border-style: solid;
}
/*EditarComprometidos*/
.edit-container {
  width: 100%;
  min-height: 100vh;
}
.edit-com {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.edit-row {
  display: flex;
  flex-direction: row;
  height: 40px;
}
.edit-tab-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.edit-tab-row-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: -40px;
}
.tabla-edit {
  width: 14.2%;
  text-align: center;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}
.tabla-edit-b {
  width: 14.2%;
  text-align: center;
  border: 1px solid;
}
.container {
  margin-top: 100px;
  min-height: 100vh;
  margin-left: 15%;
}
.container-edit {
  min-height: 100vh;
  margin-left: 15%;
}
.space-nav {
  margin-left: 15%;
}
.tipo-tw {
  width: 180px;
}
.height-c {
  height: 80px;
}
.height-ct {
  height: 20px;
}
.height-ct-tt {
  width: 99%;
}
.input-edi {
  width: 100%;
  border: 0px;
}
.table-ed-2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
