.p-container-fondor {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.p-margin-fr {
  width: 100%;
}
.p-title-size-fr {
  height: 25px;
}
.inputs-container-fr {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}
.p-container-ifra {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.p-container-ifr2 {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 10px;
}
.cal-cont {
  display: flex;
  flex-direction: column;
  width: 8%;
  margin-right: 10px;
}
.p-container-ifr3 {
  display: flex;
  flex-direction: column;
  width: 31.5%;
  margin-right: 10px;
}
.p-container-ifrcpa {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.no {
 width: 60%;
}
.p-title-margin-fr {
  margin: 0;
  font-weight: bold;
}
.input-style-fr {
  height: 30px;
}
.inputs-col-fr {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.inputs-row-fr-2 {
  display: flex;
}
.table-up-p-fr {
  width: 72%;
  border-left: 0;
  border-right: white;
  border-top: 0;
}
.table-up-p-frn-p {
  width: 7%;
  border-left: 0;
  border-right: white;
  border-top: 0;
}
.table-up-p-frn-a {
  width: 4%;
  border-left: 0;
  border-right: white;
  border-top: 0;
}
.MuiTableCell-sizeSmall {
  padding: 6px 6px 6px 6px !important;
}
.table-cpa-a {
  width: 65%;
  border-left: 0;
  border-right: white;
  border-top: 0;
}
.table-up-p-frn2 {
  width: 6%;
  border-left: 0;
  border-right: white;
  border-top: 0;
}
.mes-t {
  border-left: 0;
  border-right: white;
  border-top: 0;
  width: 6%;
  text-align: left;
}
.filename {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5px;
  height: 100%;
}
.table-container-fr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
.file-hid {
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.space-table-am {
  margin-top: -169px;
  background: #f4f4f4;
  margin-left: -30px;
  margin-right: -30px;
}
.space-table2-am {
  margin-top: -30px;
  background: #f4f4f4;
  margin-left: -30px;
  margin-right: -30px;
}
.bt-s {
  color: white;
  background-color: green;
  border: 0px;
  padding: 5px;
}
.cale-f {
  display: flex;
  width: 100%;
}
