.margin-vales {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  margin: 30px 20px 20px 20px;
  background: white;
}
.vale-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.vale-logo-container {
  width: 20%;
}
.logovale {
  height: 60px;
}
.no-cv {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.cv {
  display: flex;
  flex-direction: column;
  width: 23% !important;
}
.p-cv {
  margin: 3px;
}
.vale-title-content {
  text-align: center;
  width: 80%;
}
.vale-num-container {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
  width: 20%;
}
.p-vale {
  font-weight: bold;
  margin: 3px;
}
.input-ches {
  border: 0;
  font-size: 15px;
  width: 50%;
}
.p-n {
  margin: 5px;
}
.vale-pro-content {
  border-bottom: 1px solid;
  border-top: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.p-vp {
  font-weight: bold;
}
.space-v {
  height: 10px;
}
.mcc-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.v-m {
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-top: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 18%;
}
.v-c {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 16%;
}
.v-con {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-top: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 64%;
}
.pmcc {
  font-weight: bold;
  margin: 5px;
}
.p-bv {
  border-top: 1px solid;
  margin: 0;
  padding: 10px;
}
.input-b {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid;
  margin: 0;
  padding: 11px;
  text-align: center;
}
textarea { resize: none; }
.input-b-c {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid;
  height: 55%;
  margin: 0;
  padding: 10px;
  text-align: center;
}
.oat-content {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.o-w {
  border-right: 1px solid;
  width: 30% !important;
}
.a-w {
  border-right: 1px solid;
  width: 60%;
}
.t-w {
  width: 10% !important;
}
.p-oat {
  border-bottom: 1px solid;
  margin: 0;
}
.input-w {
  border-bottom: 0;
  border-width: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  -webkit-appearance: none;
  background: white;
}
.space-c {
  height: 50px;
}
.frsr-end {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 30px;
}
.frsr-w {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 64%;
}
.div-4 {
  display: flex;
  flex-direction: row;
  width: 40%;
}
.frsr-w-b {
  border: 1px solid;
  text-align: center;
  width: 50%;
}
.firma-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  width: 100%;
}
.f-fecha {
  text-align: center;
  width: 24%;
}
.b-fecha {
  border-bottom: 2px solid;
  margin: 0;
}
.b-fecha-ok {
  border-bottom: 2px solid;
  height: 19px;
  margin: 0;
}
.b-auto {
  border-bottom: 2px solid;
  margin: 0;
  -webkit-appearance: none;
  background: #fff;
}
select {
  border: 0;
  text-align-last: center;
  width: 100%;
}
.b-fecha-i {
  background: #fff;
  border: 0 solid;
  border-bottom: 2px solid;
  font-size: 14px;
  height: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  -webkit-appearance: none;
}
.font-size-f {
  font-size: 15px;
  margin: 0;
}
.last {
  border-top: 1px solid;
  font-size: 10px;
  margin-top: 30px;
  text-align: center;
}
.boton-vale {
  background-color: green;
  border: 0;
  color: white;
  font-size: 15px;
  padding: 6px;
}
@media (max-width: 1024px) {
  .logovale {
    height: 35px;
  }
  .p-vale {
    font-size: 15px;
    font-weight: normal;
    margin: 3px;
  }
  .p-cv {
    font-size: 15px;
    margin: 0;
  }
  .no-cv {
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    width: 100%;
  }
  .cv {
    display: flex;
    flex-direction: column;
    width: 18%;
  }
  .p-vp {
    font-size: 15px;
    font-weight: normal;
    margin: 5px;
  }
  .pmcc {
    font-size: 15px;
    font-weight: normal;
    margin: 1px;
  }
  .p-bv {
    border-top: 1px solid;
    font-size: 15px;
    margin: 0;
    padding: 6px;
  }
  .input-b {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid;
    font-size: 15px;
    margin: 0;
    padding: 6px;
  }
  .p-oat {
    border-bottom: 1px solid;
    font-size: 15px;
    margin: 0;
  }
  .input-b-c {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid;
    font-size: 15px;
    height: 52px;
    margin: 0;
    padding: 5px;
  }
  .frsr-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .b-fecha {
    border-bottom: 1px solid;
    font-size: 15px;
    margin-top: 2px;
  }
  .font-size-f {
    font-size: 15px;
  }
  .b-auto {
    border-bottom: 1px solid;
    font-size: 15px;
    margin: 0;
  }
  .b-fecha-ok {
    border-bottom: 1px solid;
    height: 15px;
    margin: 0;
  }
  .last {
    border-top: 1px solid;
    font-size: 8px;
    margin-top: 20px;
    text-align: center;
  }
}
.no-cant {
  background: red;
  color: white;
  padding: 5px;
}
@page {
  margin-top: 25mm;
  size: 100%;
}






















































.container-back123 {
  padding: 0 20px 0 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
}
.container-back-v {
  padding: 0 20px 0 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
}
.site {
  padding-left: 80px;
  padding-top: 20px;
}
.titulo{
  padding: 30px 0px 50px 300px;
}
.inputs-caja{
  display: flex;
  justify-content:space-between;
  padding-left: 50px;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  width: 100%;
}
.form-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}
.vale-content {
  width: 18%;
  display: flex;
  flex-direction: column;
}
.caja-container {
  width: 100%;
  padding-top: 50px;
}
.caja-inputs {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.caja-inputs-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.caja-inputs-c2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 29.5%;
}
.input-row {
  display: flex;
  flex-direction: column;
  width: 23%;
}
.input-row2 {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.input-sc {
  height: 25px;
}
.p-caja {
  margin: 0px;
}
.boton-g {
  background-color: green;
  height: 30px;
  color: white;
  border: 0px;
}
.input-row-2 {
  display: flex;
  flex-direction: column;
}
.disponible {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.boton-va {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table-v-importe {
  width: 15%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-v-fechae {
  width: 40%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-v-cantidad {
  width: 10%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-v-cheque {
  width: 10%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-v-area {
  width: 15%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-v-edit {
  width: 5%;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding-left: 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*-------MODAL-----------*/
body {
  margin: 0px;
  font-family: Arial;
}
.comprobacion-container {
  width: 100%;
  background-color: #f4f4f4;
}
.comprobacion-container-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f4f4f4;
}
.comprobacion-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comprobacion-card {
  height: 100%;
  background-color: #FFFFFF;
  padding: 10px;
}
.comprobacion-h1 {
  margin: 0px;
}
.comprobacion-p {
  margin: 0px;
  color: grey;
}
.progress {
  width: 100%;
}
.pcontainer {
  width: 100%;
  height: 2000vh;
}
.p-t {
  padding-left: 80px;
}
.pcontent {
  display: flex;
  flex-direction: row;
}
.pcontent-d {
  display: flex;
  flex-direction: row;
}
.padding-t {
  height: 0px;
  width: 40px;
  border-top: 1px solid;
  display: flex;
}
.padding-t2 {
  height: 0px;
  width: 80px;
  border-top: 1px solid;
}
.padding-t3 {
  height: 0px;
  width: 900px;
  border-top: 1px solid;
}
.padding-t4 {
  height: 0px;
  width: 120px;
  border-top: 1px solid;
}
.padding-t5 {
  height: 0px;
  width: 200px;
  border-top: 1px solid;
}


/*Presupuesto*/
.tabla-1{
  display:flex;
        justify-content: space-between;

}
.tabla-2{
  display:flex;
        justify-content: space-between;

}
/*Creacionfondo*/
.content{
  display:flex;
  justify-content:
}
.need{
  height: 0px;
  width: 100px;
  border-top: 1px solid;
}
