.p-container-validacion {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  width: 100%;
}
.table-validacion {
  border-left: 0;
  border-right: white;
  border-top: 0;
  width: 12%;
}
.border-table-v {
  border-left: 0;
  border-right-color: white;
  border-top: 0;
  width: 25%;
}
.border-table-v2 {
  border-left: 0;
  border-right-color: white;
  border-top: 0;
  width: 16.6%;
}
