.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 15%;
	background: #092432;
	z-index: 1;
}
.navbar-navigation {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.navbar-left {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
}
.subnav {
	display: flex;
	flex-direction: row;
	justify-content: left;
	padding-left: 30px;
}
.logo {
  width: 90%;
  height: 67px;
}
.nav-col {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
  justify-content: space-between;
  height: 100%;
}
.nav-t {
	color: #FFF;
  margin-bottom: 30px;
}
@media(max-width: 1500px) {
	.nav-t {
		color: #FFF;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
	.mb {
		margin-bottom: 20px;
	}
}
.deco {
	text-decoration: none;
  display: flex;
}
.deco-c {
	text-decoration: none;
	cursor: pointer;
  display: flex;
}
.arrow {
	height: 10px;
	padding-left: 10px;
	padding-top: 13px;
}
