.nav-col {
	display: flex;
	flex-direction: column;
  height: 100%;
  justify-content: space-between;
	margin-top: 50px;
  overflow: scroll;
}
.nav-cont {
  display: flex;
  flex-direction: column;
}
.navbar-left {
  display: flex;
  flex-direction: row;
	height: 100%;
  justify-content: flex-start;
}
.deco-c {
  cursor: pointer;
  display: flex;
	text-decoration: none;
}
.material-icons {
  color: white;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-top: 3px;
}
.typo-sty {
  color: white;
  margin-bottom: 15px;
}
.arrow {
	height: 10px;
	padding-left: 10px;
  padding-top: 13px;
}
.subnav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
  margin-bottom: 10px;
	padding-left: 30px;
}
.deco {
  display: flex;
  text-decoration: none;
}
.nav-t {
	color: #FFFFFF;
  margin-bottom: 15px;
}
.btn-nav {
  background: #092432;
  border: none;
  display: flex;
}
@media(max-width: 1500px) {
	.nav-t {
		color: #FFF;
    display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
}
