.oficios-container {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.oficios-section-content {
  background: #f4f4f4;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.m-f {
  background: #f4f4f4;
  margin: 0;
  padding: 70px 20px 0 20px;
}
.btn-imp-of {
  background: green;
  color: white;
  cursor: pointer;
  height: 18px;
  padding: 6px;
}

/* Empieza Formato E */

.formatoe-container {
  background: white;
  position: relative;
  z-index: 2;
}
.lll {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  page-break-after: auto;
  width: 100%;
}
.lll-content {
  margin-top: 10px;
  width: 98%;
}
.title-ga{
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-top:20px;
  padding-bottom: 10px;
  text-align: center;
}
.ofie-img1 {
  width: 15%;
}
.pgjh {
  height: 50px;
  width: 150px;
}
.ofie-text {
  width: 70%;
}
.text-titulo-ga {
  font-weight: bold;
  margin: 2px;
}
.ofie-img-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
}
.ofie-img2 {
  display: flex;
  height: 100%;
  justify-content: flex-end;
}
.img2 {
  height: 100%;
}
.faderinpo {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}
.contenedor-ga {
  border: 1px solid;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  width: 1700px;
}
.contenedor-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 23%;
}
.interno-ga2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.text-gai {
  font-size: 12px;
  margin: 3px;
}
.input-gai {
  margin-top: 5px;
}
.ofie-header-blue {
  display: flex;
  width: 100%;
}
.alltabla-ga {
  background: blue;
  color: white;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
}
.ga1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 35%;
}
.ga2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 10%;
}
.ga3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 55%;
}
.ofie-comprobantes-conta {
  width: 100%;
}
.all-tab-f {
  font-size: 12px;
  height: 50px;
}
.all-tab-of1 {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 35%;
}
.all-tab-of2 {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 10%;
}
.all-tab-of3 {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 55%;
}
.ofie-total-cont {
  display: flex;
  height: 30px;
  width: 100%;
}
.all-tab-f2 {
  font-size: 12px;
  height: 30px;
}

/* Finaliza Formato E */

/* Empieza Solicitud Programatica */

.sp-container {
  position: absolute;
  z-index: 2
}
.sp-imgs {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}
.title-so-o {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 50px;
  text-align: center;
}
.ims {
  height: 50px;
  width: 150px;
}
.fadera {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 0;
  padding-left: 100px;
  padding-right: 100px;
}
.contenedor-soi {
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 1050px;
}
.interno {
  display:flex;
  justify-content: space-between;
  padding-right:10px;
}
.text-soi {
  font-size: 12px;
  margin: 3px;
}
.text-soi {
  font-size: 12px;
  margin: 3px;
}
.input-so{
  height: 10px;
  width: 10px;
}
.padre-lineas{
  display: flex;
  height: 80px;
  justify-content: center;
  padding-top: 10px;
}
.lineas-so {
  width: 780px;
}
.internos {
  display: flex;
}
.text-intei {
  font-size: 12px;
  margin: 3px;
  width: 120px;
}
.bene-i {
  font-size: 12px;
  margin: 0;
}
.folio {
  border: 1px solid;
  border-radius:10px;
  display: flex;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.text-folio {
  font-size: 11px;
  padding-top: 8px;
}
.fs-if {
  font-size: 12px;
  margin-left: 5px;
  margin-top: 18px;
}
.sp-table-cont {
  height: 60vh;
}
.tabla-so {
  padding-left: 20px;
  padding-right: 20px;
}
.all-tablai {
  font-size: 11px;
  height: 15px;
}
.dg-tabla {
  height: 20px;
  width: 300px;
}
.monto-tabla{
  width: 150px;
}
.border-color {
  border-bottom: white 1px;
  border-left: white 1px;
  border-right: white 1px;
  border-top: white 1px;
}
.text-rete {
  font-size: 12px;
  text-align: left;
}
.sp-footer {
  bottom: 0;
  height: auto;
  position: fixed;
  width: 100%;
}
.obs-sopadre {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.obs-so{
  display: flex;
}
.text-osb {
  font-size: 12px;
  margin-top: 7px;
  width: 100px;
}
.input-obs {
  font-size: 8px;
  height: 15px;
  width: 500px;
}
.obs-so2{
  display: flex;
  padding-left: 280px;
}
.obs-input {
  border-bottom: 1px solid #000;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.padre-firmas{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}
.firmas{
  border: solid 1px;
  border-radius: 10px;
  height: 50px;
  width: 200px;
}
.text-firmas{
  font-size: 12px;
  margin-top: 0;
  text-align: center;
}

/* Finaliza Solicitud Programatica */

/* Empieza Pago Proveedor */

.pppdf-subdad {
  background: white;
  position: relative;
  width: 90%;
  z-index: 2;
}
.header-ofi {
  height: 100px;
  position: fixed;
  top: 0;
  width: 80%;
}
.header-ofi-cont {
  display: flex;
  justify-content: space-between;
}
.sp-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comple {
  margin-left: -20px;
  width: auto;
}
.img-sp {
  height: 70px;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 70px;
}
.sp-direc {
  margin-top: 90px;
}
.no-oficio-sp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 0;
  text-align: right;
}
.prensente-sp {
  padding-left: 0;
  padding-top: 48px;
}
.añadido-sp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 15px;
}
.texto-ofi-sp {
  margin-top: -30px;
  padding-top: 32px;
  text-align: justify;
}
.atte-sp {
  display: flex;
  justify-content: center;
}
.atte-text-sp {
  text-align: center;
}
.firma-sp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
  width: 100%;
}
.firma-raya-sp {
  border-top: 1px solid black;
  text-align: left;
  width: 58%;
}
.footer-sp {
  bottom: 0;
  height: 100px;
  position: fixed;
  width: 80%;
}
.footer-content-sp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.foot-text {
  color: black;
  font-size: 12px;
}
.foot-num {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.foot-num-t {
  font-size: 12px;
}

/* Termina Pago Proveedor */











































































































/* Estilos de oficio */

.site-pf-of {
  padding-left: 80px;
}

.text-b {
  font-size: 9px;
  padding-top: 100px;
}





.pass {
  height: 100vh;
  z-index: 2;
}
.nopass {
  position: absolute;
  width: 100%;
  z-index: 2;
}






.popup-content {
  height: 100%;
  overflow: scroll;
  width: 100%;
}
.c-b-i {
  display: flex;
  justify-content: center;
}
.td {
  padding: 0;
}
.all-tab-l {
  background: transparent;
  border: 0;
  height: 100%;
  padding: 0;
  text-align: center;
  width: 99%;
}



.cpdf-dad2 {
  max-height: 100vh;
  width: 100%;
}
.hojas {
  border: 0;
  width: 30px;
}
.cpdf-subdad2 {
  height: 100%;
  padding-left: 10%;
  padding-top: 50px;
  width: 80%;
}
.fader-1{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}
.titulos-p{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 10px;
}
.sub-1{
  border: black 1px solid;
  border-radius: 10px;
  width: 1080px;
}
.combo-1{
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}
.uno{
  padding-left: 5px;
  padding-right: 10px;
}
.input-1{
  display: flex;
  height: 5px;
  width: 5px;
}
.texto-1{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.texto-2{
  border: black 1px solid;
  height: 20px;
  padding-bottom: 10px;
  padding-right: 60px;
  padding-top: 10px;
  width: 90px;
}
table {
   width: 100%;
   text-align: left;
   border-collapse: collapse;
   margin: 0 0 1em 0;
   caption-side: top;
}
caption, td, th {
  padding: 0.3em;
}
th, td {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-top:1px solid #000;
  text-align: center;
}
th.last, td.last {
  border-right: 1px;
}
tfoot th, tfoot td {
  border-bottom: 1px;
  text-align: center;
}
th {
  width: 30%;
}
.obs{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.rev-1{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.rev{
  padding-top: 10px;
  text-align:center;
  border: black 1px solid;
  border-radius: 5px;
  height:30px;
  width: 250px;
}
/* Todos los Pdf*/

.title-so{
  margin-top:20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 30px;
}

.text-so {
  font-size: 10px;
  margin:3px;
}
.contenedor-so{
  padding-top:10px;
  padding-left:20px;
  padding-right:20px;
  height: 80px;
  width: 1050px;
  border: 1px solid;
  border-radius:20px;
  display: flex;
  justify-content: space-between;
}


/*Fase 3 So*/



.text-inte{
  width: 50px;
  margin-right: 72px;
  margin-top: 0px;
  font-size: 11px;
}
.text-inte2{
  margin-right: 38px;
  margin-top: 0px;
  font-size: 11px;
}
.text-inte3{
  margin-right: 18px;
  font-size: 11px;
  margin-top: 0px;
}
.input-so2{
  margin-top: 0px;
  height: 15px;
  width: 500px;
}
/* folio, en lineas*/

.input-so3{
  margin-top: 15px;
  height: 15px;
  width: 50px;
}

/* Tabla*/
.all-tabla{
  font-size: 8px;
  height: 10px;
}

.tablas-solas{
  padding-left: 100px;
}

/*retencion*/
.padre-retencion{
  margin:1px;
}
.rentencion{
  padding: 0;
  border: solid 1px;
}
/* Observaciones*/


/*firmas*/

/*Pdf gastp*/


.faderinp {
  padding-bottom: 0px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
}
.interno-ga {
  display:flex;
  justify-content: space-between;
  padding-right:10px;
  padding-bottom: 10px;
}
.input-ga{
  border: 2px solid;
  height: 10px;
  width: 10px;
}
.text-ga{
  /*margin:0px;*/
  margin:3px;
  font-size: 15px;
}
/* tabla*/
.fader-tabla{
  padding-left: 100px;
  padding-right: 100px;
}
.all-tab{
  height:30px;
}
.text-total-ga{
  text-align: right;
  font-weight: bold;
  font-size: 12px;
}
/*pdf1*/
.fader-1{
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
.titulos-p{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.sub-1{
  border: black 1px solid;
  width: 1080px;
  border-radius: 10px;
}
.combo-1 {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
}
.uno{
  padding-left: 5px;
  padding-right: 10px;
}
.input-1{
  height: 5px;
  width: 5px;
  display: flex;
}
.texto-1{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.texto-2{
  padding-top: 10px;
  padding-bottom: 10px;
  border: black 1px solid;
  height: 20px;
  width: 90px;
  padding-right: 60px;
}
table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 0 0 1em 0;
  caption-side: top;
}
caption, td, th {
  padding: 0.3em;
}
th, td {
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top:1px solid #000;
  text-align: center;
}
th.last, td.last {
  border-right: 1px;
}
tfoot th, tfoot td {
  border-bottom: 1px;
  text-align: center;
}
th {
  width: 30%;
}
.obs{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.rev-1{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.rev{
  padding-top: 10px;
  text-align:center;
  border: black 1px solid;
  border-radius: 5px;
  height:30px;
  width: 250px;
}
/* Todos los Pdf*/
.title-so{
  margin-top:20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 30px;
}
.text-so{
  margin:3px;
  font-size: 10px;
}
.contenedor-so{
  padding-top:10px;
  padding-left:20px;
  padding-right:20px;
  height: 80px;
  width: 1050px;
  border: 1px solid;
  border-radius:20px;
  display: flex;
  justify-content: space-between;
}

/*Fase 3 So*/
.text-inte {
  width: 50px;
  margin-right: 72px;
  margin-top: 0px;
  font-size: 11px;
}
.text-inte2 {
  margin-right: 38px;
  margin-top: 0px;
  font-size: 11px;
}
.text-inte3 {
  margin-right: 18px;
  font-size: 11px;
  margin-top: 0;
}
.input-so2 {
  margin-top: 0;
  height: 15px;
  width: 500px;
}
/* folio, en lineas*/
.input-so3{
  margin-top: 15px;
  height: 15px;
  width: 50px;
}
/* Tabla*/
.all-tabla{
  font-size: 8px;
  height: 10px;
}

.tablas-solas{
  padding-left: 100px;
}
/*retencion*/
.padre-retencion{
  margin:1px;
}
.rentencion{
  padding: 0;
  border: solid 1px;
}
/* Observaciones*/
/*firmas*/
/*Pdf gastp*/
.faderinp{
  padding-bottom: 0;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
}
.interno-ga{
  display:flex;
  justify-content: space-between;
  padding-right:10px;
  padding-bottom: 10px;
}
.input-ga{
  border: 2px solid;
  height: 10px;
  width: 10px;
}
.text-ga{
  margin: 3px;
  font-size: 15px;
}
.fader-tabla{
  padding-left: 100px;
  padding-right: 100px;
}
.all-tab{
  height:30px;
}

.pru-over {
  overflow:hidden;
  max-width:300px;
  position:relative;
  white-space: nowrap;
}
